<table class="table table-bordered">

	<p>일별 매출내역</p>
	  <thead>
	    <tr>
	      <th scope="col" rowspan="2">일자</th>
	      <th scope="col" colspan="2">결제완료 주문</th>	 
	      <th scope="col" rowspan="2">결제합계</th>
	      <th scope="col" rowspan="2">환불합계</th>
		  <th scope="col" rowspan="2">순매출</th>
	    </tr>
		<tr>
			<th scope="col">주문수</th>	 
			<th scope="col">매칭권수량</th>	 
		</tr>
	  </thead>
	  <tbody>
	    <tr th:each="daily : ${data}">
	      <th scope="row" ></th><!--			th:text:"${data.app}-->
	      <td>Mark</td>
		  <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
		  <td>@mdo</td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>Jacob</td>
	      <td>Thornton</td>
		  <td>Mark</td>
	      <td>@fat</td>
		  <td>@fat</td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td>Larry the Bird</td>
	      <td>@twitter</td>
		  <td>Mark</td>
		  <td>Mark</td>
		  <td>@twitter</td>
	    </tr>
	  </tbody>
	</table>
