<select name="selectedYear" id = "year" onchange="select()">
       <option th:each="selectYear : ${year}" 
               th:value="${selectYear.year}" 
               th:text="${selectYear.year}"
			   th:selected="${selectYear.year} == ${selectedYear}">
       </option>
</select>
<p>월별 매출내역</p>	
<table class="table table-bordered">	  
	<thead>
	    <tr>
	      <th scope="col" rowspan="2">월</th>
	      <th scope="col" colspan="2">결제완료 주문</th>	 
	      <th scope="col" rowspan="2">결제합계</th>
	      <th scope="col" rowspan="2">환불합계</th>
		  <th scope="col" rowspan="2">순매출</th>
	    </tr>
		<tr>
			<th scope="col">주문수(개)</th>	 
			<th scope="col">매칭권수량(개)</th>	 
		</tr>
	  </thead>
	  <tbody>
	    <tr	th:each="monthly:${data}">
	      <th th:text="${monthly.month}"></th>
	      <td th:text="${monthly.orderCnt}"></td>
	      <td th:text="${monthly.quantity}"></td>
	      <td th:text="${monthly.totalAmount}"></td>
		  <td></td>
		  <td th:text="${monthly.totalAmount - monthly.totalAmount/11}"></td>
	    </tr>
	  </tbody>
	</table>
<script>
	function select(){
		const year = document.querySelector("#year");
		var option = year.options[year.selectedIndex];			
		location.href = "?year="+option.value
	}	
</script>