<input type="month" onchange="selectMonth(this.value)" name="selectMonth" id="month" >
<table class="table table-bordered">
	<p>주간 매출내역</p>
	<thead>
	    <tr>
	      <th scope="col" rowspan="2">일자</th>
	      <th scope="col" colspan="2">결제완료 주문</th>	 
	      <th scope="col" rowspan="2">결제합계</th>
	      <th scope="col" rowspan="2">환불합계</th>
		  <th scope="col" rowspan="2">순매출</th>
	    </tr>
		<tr>
			<th scope="col">주문수</th>	 
			<th scope="col">매칭권수량</th>	 
		</tr>
	  </thead>
	  <tbody>
		<tr	th:each="weekly : ${data}">
			<td th:text="${weekly.dailyRange}"></td>
			<td ></td>
			<td th:text="${weekly.totalAmount}"></td>
			<td th:text="${weekly.refundStatus}"></td>
			<td ></td>	
			<td ></td>	
		</tr>
	 </tbody>
</table>
<script>

	function selectMonth(selectValue){	
		var get = selectValue.split("-")
		var year = get[0];
		var month = get[1];
		location.href = "?year="+year+"&month="+month
	}		
window.onload = ()=>{
	const url = new URLSearchParams(window.location.search);
		if(url.get('year')==null||url.get('month')==null){
			var date = new Date();
			var year = date.getFullYear();
			var month = (date.getMonth() + 1).toString().padStart(2, '0'); 
			document.getElementById("month").value = year	+ "-" + month
		}else{
			document.getElementById("month").value = url.get('year') + "-" + url.get('month') 
		}
}

</script>