
<div class="logoBox">
	<img th:src="@{/logo/logo.png}" alt="" />
</div>
<div class="menuBox">
	<div class="menu">
		<h2>대시보드</h2>
	</div>
	
	<div class="menu">
		<h2>매출 관리</h2>
		<div class="sub__menu-box">
			<ul>
				<li>
					<a th:href="@{/sales/daily}">
						매출
					</a>
				</li>
				<li>
					<a th:href="@{/sales/payment}">
						결제
					</a>
				</li>
				<li>
					<a th:href="@{/sales/refund}">
						환불
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="menu">
		<h2>회원 관리</h2>
		<div class="sub__menu-box">
			<ul>
				<li>
					<a th:href="@{/management/newMembers}">
						신규 회원
					</a>
				</li>
				<li>
					<a th:href="@{/management/member}">
						기존 회원
					</a>
				</li>
				<li>
					<a th:href="@{/management/report}">
						신고
					</a>
				</li>
				<li>
					<a th:href="@{/management/suspend}">
						정지
					</a>
				</li>
				<li>
					<a th:href="@{/management/withdrawal}">
						탈퇴
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

